body {
  background: #1e1c1e;
  color: #fff;
  background-image: url(./components/images/about-dust.png);
}

:root {
  --red: #e60e0b;
}

/* Menu Section */

.navbar-container {
  margin-left: 110px;
}

.navbar-container a,
.navbar-container li {
  text-transform: uppercase;
}

.navbar-brand {
  padding-bottom: 0px;
  transition: 0.5s;
}
.navbar-brand:hover {
  opacity: 0.7;
}

#navbarNav {
  margin-left: 50px;
}

.nav-link {
  margin: 0px 10px;
}

.navbar-brand,
.nav-link {
  font-size: 16px;
  font-weight: bold;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--red);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #fff;
}

.navbar-brand img {
  width: 100px;
}

/* End of Menu Section */

/* Banner Section */
.banner {
  background-image: url("./components/images/smoke-banner.png");
  position: relative;
  overflow: hidden;
  /* margin-top: 100px; use if fixed-top is on navbar */
}

.banner-text {
  text-transform: uppercase;
  margin-top: 100px;
  margin-left: 50px;
}

.banner-text span {
  font-weight: bold;
  color: var(--red);
}

.banner-text h1 {
  font-size: 49px;
  line-height: 56px;
  letter-spacing: 3px;
}

.banner-text p {
  width: 500px;
  margin-top: 50px;
  letter-spacing: 3px;
}

.banner-text a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;

  display: inline-block;
  padding: 15px 0px;
  position: relative;
}

.banner-text a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--red);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.banner-text a:hover:after {
  width: 100%;
  left: 0;
}

.banner-text img {
  position: absolute;
  left: -200px;
  bottom: -300px;
  z-index: -10;
  width: 600px;
}

.banner-image {
  /* overflow-x: hidden; */
}

.banner-image img {
  width: 900px;
  position: relative;
  right: 200px;
}

/* End of Banner Section */

/* About Section */

.about {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  /* background-image: url(./components/images/about-dust.png); */
}

.about-image img {
  position: relative;
  left: 150px;
  z-index: -10;
}

.about-text {
  text-transform: uppercase;
  position: relative;
  top: 100px;
  right: 80px;
  letter-spacing: 3px;
  width: 400px;
}

.about-text h2 {
  font-size: 49px;
  line-height: 56px;
}

.about-text p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.about-text a {
  color: #000;
  background: #fff;
  text-decoration: none;
  padding: 15px 30px;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 0px 0px 30px 0px;
}

.about-text a:hover {
  background: var(--red);
  color: #fff;
}

.about-background {
  position: absolute;
  right: -50px;
  top: -120px;
  z-index: 10;
}

.about-background img {
  width: 700px;
}

/* End of About Section */

/* We are Section */

.we-are {
  margin-top: 150px;
}

.we-are-red {
  height: 350px;
  width: 350px;
}

.we-are-text {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 400px;
  position: relative;
  bottom: 280px;
  left: 90px;
}

.we-are-text h2 {
  font-size: 49px;
  line-height: 56px;
}

.we-are-text p {
  margin-top: 20px;
}

.we-are-images .we-are-1,
.we-are-2,
.we-are-3 {
  border-radius: 10px;
}

.we-are-images .we-are-3 {
  position: relative;
  bottom: 450px;
  left: 100px;
  width: 600px;
  z-index: -10;
}

.we-are-images .we-are-1 {
  width: 350px;
  position: relative;
  bottom: 750px;
  right: 100px;
}

.we-are-images .we-are-2 {
  width: 300px;
  position: relative;
  bottom: 500px;
  right: 100px;
}

.we-are-images p {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 400px;
}

.we-are-images {
  position: relative;
}

.we-are-images .text {
  position: absolute;
  right: 0px;
  bottom: 970px;
}

/* Emd pf We are Section */

/* Service Section */

.service {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  bottom: 350px;
}

.service h2 {
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 50px;
}

.col-sm-3 {
  margin: 0px 15px;
}

.col-sm-3 img {
  border-radius: 10px;
  width: 300px;
}

.samurai-position {
  position: relative;
  bottom: 90px;
}

.samurai-position h3 {
  margin-top: 10px;
}

/* End of Service Section */

/* Play Section */

.play-section {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  bottom: 350px;
}

.play-section h2 {
  font-size: 49px;
  line-height: 56px;
  margin-bottom: 40px;
}

.play-section img {
  height: 500px;
  border-radius: 10px;
}

.play-section .play-text {
  width: 500px;
}

.play-section .play-text span {
  border-bottom: 5px solid #fff;
}

/* End of Play Section */

/* Clan Section */

.clan {
  text-transform: uppercase;
  letter-spacing: 3px;
  /* position: relative;
  bottom: 350px; */
}

.clan h2 {
  font-size: 49px;
  line-height: 56px;
  margin-bottom: 40px;
  text-align: center;
}

.clan h3 {
  text-align: center;
  margin-top: 20px;
}

.clan img {
  border-radius: 50%;
  width: 100%;
}

.clan .col-sm-2 {
  margin: 0px 20px;
}

/* End of Clan Section */

@media only screen and (max-width: 1400px) {
  /* Menu Section 1400 */
  .navbar-container {
    margin-left: 110px;
  }
  /* End of Menu Section 1400 */

  /* Banner Section 1400*/

  .banner-text h1 {
    font-size: 42px;
  }

  .banner-image img {
    width: 800px;
    position: relative;
    right: 80px;
  }

  /* End of Banner Section 1400*/

  /* About Section 1400*/

  .about-text {
    right: 0px;
  }

  .about-background {
    right: -200px;
  }

  /* End of About Section 1400*/

  /* We are Section 1400*/

  .we-are-text {
    left: 50px;
  }

  .we-are-images .we-are-1 {
    right: 150px;
  }

  .we-are-images .we-are-2 {
    position: absolute;
    right: 15px;
  }

  .we-are-images p {
    width: 300px;
  }

  .we-are-images .text {
    right: -20px;
    bottom: 920px;
  }

  /* Emd pf We are Section 1400 */

  /* Service Section 1400*/

  .service h2 {
    position: relative;
    left: 20px;
  }

  .col-sm-3 {
    margin: 0px 40px;
  }

  /* End of Service Section 1400*/

  /* Play Section 1400*/
  .play-section img {
    height: 500px;
    position: relative;
    right: 80px;
  }

  /* End of Play Section 1400*/
}

@media only screen and (max-width: 992px) {
  /* Menu Section Mobile*/
  .navbar-container {
    margin-left: 0px;
  }

  #navbarNav {
    margin-left: 0px;
    text-align: center;
  }

  .navbar-brand {
    margin: 0px;
    right: 20px;
  }

  .navbar-brand,
  .nav-link {
    padding: 0px;
  }

  .nav-link {
    padding: 20px 50px;
  }

  /* End of Menu Section Mobile */

  /* Banner Section mobile*/

  .banner-text {
    margin-top: 50px;
    margin-left: 0px;
  }

  .banner-text h1 {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
  }

  .banner-text p {
    width: auto;
    margin-top: 50px;
    letter-spacing: 3px;
    text-align: center;
  }

  .banner-text a {
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
  }

  /* End of Banner Section mobile*/

  /* About Section Mobile*/

  .about-image img {
    left: 10px;
    width: 100%;
    z-index: 100;
  }

  .about-text {
    right: 0px;
    width: auto;
  }

  .about-text h2 {
    font-size: 32px;
    text-align: center;
  }

  .about-text p {
    text-align: center;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-background {
    position: absolute;
    right: -200px;
    top: 300px;
  }

  .about-background img {
    width: 500px;
    z-index: -10;
  }

  /* End of About Section Mobile*/

  /* We are Section Mobile*/

  .we-are {
    display: flex;
    flex-direction: column;
  }

  .we-are-red {
    height: 350px;
    width: 100%;
  }

  .we-are-text {
    width: 100%;
    position: relative;
    bottom: 280px;
    left: 0px;
    text-align: center;
  }

  .we-are-text h2 {
    font-size: 32px;
  }

  .we-are-text p {
    margin-top: 20px;
  }

  .we-are-images {
    position: relative;
  }

  .we-are-images p {
    width: 100%;
    text-align: center;
  }

  .we-are-images .text {
    position: relative;
    top: -200px;
    right: 0px;
  }

  .we-are-images .we-are-1,
  .we-are-2,
  .we-are-3 {
    border-radius: 10px;
  }

  .we-are-images .we-are-3 {
    position: relative;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 10px;
  }

  .we-are-images .we-are-1 {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    right: 0px;
    margin-bottom: 10px;
  }

  .we-are-images .we-are-2 {
    width: 90%;
    bottom: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    right: 0px;
  }

  /* Emd pf We are Section Mobile*/

  /* Service Section Mobile*/

  .service {
    bottom: 0px;
    margin-top: 100px;
  }

  .service h2 {
    font-size: 32px;
    margin-bottom: 50px;
    left: 00px;
  }

  .col-sm-3 {
    margin: 30px 0px;
    text-align: center;
  }

  .samurai-position {
    bottom: 0px;
  }

  .samurai-position h3 {
    margin-top: 20px;
  }

  /* End of Service Section Mobile*/

  /* Play Section mobile */

  .play-section {
    bottom: 0px;
    text-align: center;
  }

  .play-section h2 {
    font-size: 32px;
    margin-top: 40px;
  }

  .play-section img {
    height: auto;
    width: 90%;
    position: relative;
    right: 0px;
  }

  /* End of Play Section mobile*/
}
